html {
    background: url(https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/background/brown/hills.png)
                repeat-x center bottom fixed,
                url(https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/background/blue/tiles.png)
                repeat center fixed;
    background-size: contain, cover;
}

h1 {
    text-align: center; 
}

.conteudo {
    display: flex;
    justify-content: center;
}

/* input[type=number] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 7px;
    background-color: rgba(155, 226, 200, 0.8);
    color: black;
    border: 1.5px solid black;
    border-radius: 15px;
    outline: none;
} */

input[type=text] {
    font-family: fantasy;
    font-weight: 600;
    /* font-size: ; */
    padding: 0.55em;
    margin: 0.5em;
    background-color: rgb(195, 255, 255);
    color: black;
    border: 1.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    outline: none;
}

input[type=text]:valid {
    background-color: rgba(106, 255, 200, 0.95);
}

input::-webkit-input-placeholder {
    /* font-size: ; */
    font-family: fantasy;
    color: black;
    opacity: 0.5;
}

input[type=text]:focus {
    background-color: rgba(106, 255, 200, 0.95);
    border: 1.5px solid black;
}

/* ----------------------------------------------------------------------------------------- */
/* 'Botão Seta' de enviar */
input[type=image] {
    object-fit: contain;
    /* height: 30px; */
    outline: none;
}

input[type=image]:active {
    transform: translateX(6px);
    filter: brightness(125%);
}
/* ----------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */
/* Tabela */
table {
    background-color: lightyellow;
}

.ficha {
    display: flex;
    justify-content: center;
}

table, th, td {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 500;
    border: 2px solid black;
    border-collapse: collapse;
    }

th, td{
    padding: 6.5px;
}

tr:hover {background-color: rgb(255, 255, 164)}
/* ------------------------------------------------------------------------------------------ */

#textField {
    display: grid;
    justify-content: center;
    /* float: left; */

}

#arrow {
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------------------- */
/* PLAYERS */
label > img {

}

input[type=radio]{
    opacity: 0;
    position: fixed;
    top: 21%;
    left: 49.5%;
}

input[type=radio] + label {
    opacity: 0.8;
    display: inline-block;
    margin: 1em 1em 2em;
    padding: 0.5em;
    cursor: pointer;
}

input[type=radio]:hover + label {
    opacity: 0.9;
    transform: scale(1.3);
}

input[type=radio]:checked + label { 
    opacity: 1.0;
    transform: scale(1.2);
    border: 2px solid rgba(106, 255, 200);
    border-radius: 15px;
    /* outline: 2px solid black; */
}
/* ------------------------------------------------------------ */

.personagem {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}