html {
    background: url(https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/background/brown/hills.png)
                repeat-x center bottom fixed,
                url(https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/background/blue/tiles.png)
                repeat center fixed;
    background-size: contain, cover;
}

h1 {
    text-align: center; 
}

.conteudo {
    display: flex;
    justify-content: center;
}

input[type=text] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 7px;
    margin: 0.5em;
    background-color: rgba(155, 226, 200, 0.8);
    color: black;
    border: 1.5px solid black;
    border-radius: 15px;
    outline: none;
}

input[type=text]:focus {
    background-color: cyan;
}

/* ----------------------------------------------------------------------------------------- */
/* 'Botão Seta' de enviar */
input[type=image] {
    object-fit: contain;
    /* height: 30px; */
    outline: none;
}

input[type=image]:active {
    transform: translateX(6px);
    filter: brightness(125%);
}
/* ----------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */
/* Tabela */
table, th, td {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    border: 2px solid black;
    border-collapse: collapse;
    }

th, td{
    padding: 6.5px;
}

tr:hover {background-color: rgba(34, 34, 34, 0.4);}
/* ------------------------------------------------------------------------------------------ */

#textField {
    display: grid;
    justify-content: center;
    /* float: left; */

}

#arrow {
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------------------- */
/* PLAYERS */
label > img {

}

input[type=radio]{ 
   display: none;
}

input[type=radio] + label {
    opacity: 0.8;
    display: inline-block;
    margin: 1em;
    padding: 5px;
    cursor: pointer;
}

input[type=radio]:hover + label {
    opacity: 0.9;
    transform: scale(1.2);
}

input[type=radio]:checked + label { 
    opacity: 1.0;
    transform: scale(1.2);
    outline: 2px solid rgba(145, 118, 93, 0.884);
}
/* ------------------------------------------------------------ */