<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default('Minha Página') }}</title>
        <link rel= "stylesheet" text="text/css" href= "/static/css/custom.css">
    </head>

    <body>
        <h1>Ficha do personagem</h1>
        <hr>
        <div class="personagem">
            <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/{{cor}}/stand.png">
        </div>
        
        <div class="ficha">
            <table>
                <tr>
                    <td>Nome</td>
                    <td>{{nome}}</td>
                </tr>
                <tr>
                    <td>Idade</td>
                    <td>{{idade}}</td>
                </tr>
                <tr>
                    <td>Gênero</td>
                    <td>{{genero}}</td>
                </tr>
                <tr>
                    <td>Salário</td>
                    <td>{{salario}}</td>
                </tr>
                <tr>
                    <td>Escolaridade</td>
                    <td>PLACEHOLDER</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>{{estado}}</td>
                </tr>
            </table>
        </div>

        <div>

        </div>
    </body>
</html>