<!DOCTYPE html>
<html>
<head>
    <title>{{ title|default('Minha Página') }}</title>
    <link rel= "stylesheet" text="text/css" href= "/static/css/custom.css"
    onerror="this.onerror=null; this.href='/static/css/custom.css'">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/fga-unb/comunidade-unb-theme/master/favicon.ico">
</head>

<body>
    <h1>Ficha do personagem</h1>
    <br>
    <div class="content">
        <div class="personagem">
            <figure>
            <img src="https://raw.githubusercontent.com/kessJhones/TrabalhoFinalDS/master/static/{{cor}}.png" height="52px" width="42px"
            onerror="this.onerror=null; this.src='/static/{{cor}}.png'">
            <figcaption>{{nome}}</figcaption>
            </figure>
        </div>
        <div class="ficha">
            <table>
                <!-- <tr>
                    <td>Nome</td>
                    <td>{{nome}}</td>
                </tr> -->
                <tr>
                    <td>Idade</td>
                    <td>{{idade}} anos</td>
                </tr>
                <tr>
                    <td>Gênero</td>
                    <td>{{genero}}</td>
                </tr>
                <tr>
                    <td>Raça</td>
                    <td>{{raça}}</td>
                </tr>
                <tr>
                    <td>Escolaridade</td>
                    <td>{{escolaridade}}</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>{{estado}}</td>
                </tr>
                <tr>
                    <td>Salário</td>
                    <td>R${{salario}}</td>
                </tr>
            </table>
            <div class="info" title="Vantagens/Desvantagens do personagem, baseado nos dados do PNAD.">
                <span>Atributos</span>
                <fieldset class="atributos" title=''><legend>{{genero}} {{raça}}</legend>
                <span>{{info}}</span><br />
                </fieldset>
                <fieldset class="atributos" title=''><legend>Média salarial</legend>
                <span>{{media_salario}}</span>
                </fieldset>
                <fieldset class="atributos" title=''><legend>{{escolaridade}}</legend>
                    <span>{{media_escolaridade}}</span>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>