<!DOCTYPE html>
<html>
<head>
    <title>{{ title|default('Minha Página') }}</title>
    <link rel= "stylesheet" text="text/css" href= "/static/css/custom.css"
    onerror="this.onerror=null; this.href='/static/css/custom.css'">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/fga-unb/comunidade-unb-theme/master/facon.ico"
    onerror="this.onerror=null; this.href='/static/favicon_UnB.ico'">
    <!-- <link rel="stylesheet" href="static/css/webfontkit-20190623-205541/stylesheet.css" type="text/css" charset="utf-8" /> -->
</head>

<body>
    <h1>Ficha do personagem</h1>
    <br>
    <div class="content">
        <div class="personagem">
            <img src="https://raw.githubusercontent.com/kessJhones/TrabalhoFinalDS/master/static/{{cor}}.png"
            onerror="this.onerror=null; this.src='/static/{{cor}}.png'">
        </div>
        <div class="ficha">
            <table>
                <tr>
                    <td>Nome</td>
                    <td>{{nome}}</td>
                </tr>
                <tr>
                    <td>Idade</td>
                    <td>{{idade}} anos</td>
                </tr>
                <tr>
                    <td>Gênero</td>
                    <td>{{genero}}</td>
                </tr>
                <tr>
                    <td>Raça</td>
                    <td>{{raça}}</td>
                </tr>
                <tr>
                    <td>Escolaridade</td>
                    <td>PLACEHOLDER</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>{{estado}}</td>
                </tr>
                <tr>
                    <td>Salário</td>
                    <td>R${{salario}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>