<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default('MInha Página') }}</title>
        <link rel= "stylesheet" text="text/css" href= "/static/css/custom.css">
    </head>

    <body>
        <h1>Crie seu personagem</h1>
        <!-- <div>
            <img class="player" src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/blue/stand.png" alt="PLAYER 1">
            <img class="player" src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/green/stand.png" alt="PLAYER 2">
            <img class="player" src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/grey/stand.png" alt="PLAYER 3">
            <img class="player" src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/red/stand.png" alt="PLAYER 4">
        </div> -->
        <div class="conteudo">
            <form action="/" method="POST">
                <label>
                    <input type="radio" name="players" value="1" oninvalid="alert('Você deve escolher um personagem!');" required>
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/blue/stand.png">
                </label>
                <label>
                    <input type="radio" name="players" value="2">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/green/stand.png">
                </label>
                <label>
                    <input type="radio" name="players" value="3">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/grey/stand.png">
                </label>
                <label>
                    <input type="radio" name="players" value="4">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/red/stand.png">
                </label>
                <div>
                    <input type="text" name = "nome" required placeholder="NOME">
                    <input type="submit" value="CONCLUIR">                 
                </div>
            </form>
        </div>

        <!-- <div>
            <form action="/" method="POST">
                <input type="text" name = "nome" required placeholder="NOME">
                <input type="submit">
                <!-- <button type="submit">CONFIRMAR</button> -->
            </form>
        </div> -->
    </body>
</html>

