<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default('MInha Página') }}</title>
        <link rel= "stylesheet" text="text/css" href= "/static/css/custom.css">
    </head>

    <body>
        <h1>Crie seu personagem</h1>
        <div class="conteudo">
            <form action="/Dados/" name="myForm" method="POST">
                <label>
                    <input type="radio" name="players" value="1" required>
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/blue/stand.png">
                </label>
                <label>
                    <input type="radio" name="players" value="2">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/green/stand.png">
                </label>
                <label>
                    <input type="radio" name="players" value="3">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/grey/stand.png">
                </label>
                <label>
                    <input type="radio" name="players" value="4">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/red/stand.png">
                </label>
        </div>
        <div id="textField">
            <input type="text" name = "nome" required placeholder="NOME">
            <input type="text" name = "idade" placeholder="IDADE">
            <input type="text" name = "estado" placeholder="ESTADO">
        </div>
        <div id="arrow">
            <input type="image" src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/other/arrows/arrow.png" border="0" alt="Submit" />
        </div>
        </form>
    </body>
</html>

