<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default('Minha Página') }}</title>
        <link rel= "stylesheet" text="text/css" href= "/static/css/custom.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>Crie seu personagem</h1>
        <div class="conteudo">
            <form action="/Dados/" name="myForm" method="POST">
                <input type="radio" id="player1" name="players" value="1" required>
                <label for="player1">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/blue/stand.png" height="">
                    <!-- <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/blue/up3.png"> -->
                </label>
                <input type="radio" id="player2" name="players" value="2">
                <label for="player2">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/green/stand.png">
                </label>
                <input type="radio" id="player3" name="players" value="3">
                <label for="player3">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/grey/stand.png">
                </label>
                <input type="radio" id="player4" name="players" value="4">
                <label for="player4">
                    <img src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/player/red/stand.png">
                </label>
        </div>
        <div id="textField">
            <input type="text" name = "nome" required placeholder="NOME">
            <input type="text" name = "idade" pattern="\d*" required placeholder="IDADE (Somente números)">
            <input type="text" name = "estado" required placeholder="ESTADO">
        </div>
        <div id="arrow">
            <input type="image" src="https://raw.githubusercontent.com/fabiommendes/fgarcade/master/fgarcade/data/themes/abstract/other/arrows/arrow.png" border="0" alt="Submit" />
        </div>
        </form>
    </body>
</html>

